.catalog {
  padding-top: 40px;
  padding-bottom: 40px;
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__title {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 40px;
  }
  
  &__wrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1px;
    @media (max-width: 1020px) {
      grid-template-columns: repeat(3,1fr);
    }
    @media (max-width: 770px) {
      grid-template-columns: repeat(2,1fr);
    }
    @media (max-width: 528px) {
      grid-template-columns: repeat(1,1fr);
    }
  }
}