.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  
  &__box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid rgba(#000, 20%);
  }

  &__logo {
    & span {
      @include adaptiv-font(28, 20);
      font-weight: 700;
      color: $firstAccentColor;
    }
  }
}

.cart {
  position: relative;
  cursor: pointer;
  &__icon {
    font-size: 28px;
    transition: $standartTrans;
  }
  &__amount {
    position: absolute;
    top: 55%;
    right: 50%;
    transform: translateX(50%);
    padding: 2px 6px;
    line-height: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: $lightBoxShadow;
  }

  &:hover {
    .cart__icon {
      color: darken($firstAccentColor, 10%);
    }
  }
}