.header {
  width: 100%;
  z-index: 50;

  &__box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid rgba(#000, 10%);
  }

  &__logo {
    display: flex;
    flex-direction: column;
    &_title {
      @include adaptiv-font(24, 18);
      font-weight: 800;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      color: $fontColor;
    }
    &_desc {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #7b7b7b;
      margin-top: 5px;
    }
  }
}

.cart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  cursor: pointer;
  background: $firstAccentColor;
  border-radius: 5px;
  transition: $standartTrans;
  &__cost {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
  }
  &__divider {
    margin: 0 13px;
    width: 1.5px;
    height: 25px;
    background: rgba(#fff, 25%);
  }
  &__icon {
    color: #fff;
    font-size: 28px;
    margin-right: 10px;
  }
  &__amount {
    color: #fff;
    line-height: 100%;
    font-weight: 700;
    font-size: 16px;
  }

  &:hover {
    background: darken($firstAccentColor, 5%);
    box-shadow: $lightBoxShadow;
  }
}
