.nav-menu {
  display: flex;
  justify-content: space-between;

  &__list {
    display: flex;
  }
  &__item {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: #f9f9f9;
    border-radius: 6px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    &:not(:last-child) {
      margin-right: 10px;
    }
    transition: $standartTrans;
    &:hover {
      box-shadow: $lightBoxShadow;
    }
    &.active {
      color: #fff;
      background-color: $fontColor;
    }
  }
  &__sort-by {
  }
}

.sort-by {
  position: relative;
  display: flex;
  align-items: center;
  &:hover {
    & .sort-by__icon {
      color: $firstAccentColor;
    }
  }
  &__icon {
    position: relative;
    margin: auto 0;
    transform: translateY(3px) translateX(-4px) rotateZ(0deg);

    font-size: 14px;
    transition: transform 400ms;
    &.active {
      transform: translateY(-3px) translateX(-4px) rotateZ(180deg);
    }
  }
  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.015em;
    margin-right: 10px;
  }
  &__tag {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $firstAccentColor;
    letter-spacing: 0.015em;
    padding: 1px 0;
    border-bottom: 1px dashed;
    cursor: pointer;
    
    &:hover {
      border-bottom: 1px dashed transparent;
    }
  }
  &__popup {
    cursor: pointer;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 50;
    overflow: hidden;

    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(#000, 10%);
    border-radius: 10px;
    &:hover {
      box-shadow: 0px 5px 15px rgba(#000, 25%);
    }
    &_item {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.015em;
      padding: 10px 14px;
      &.active {
        color: $firstAccentColor;
        font-weight: 500;
        background: rgba(254, 95, 30, 0.05);
      }
      &:hover {
        color: $firstAccentColor;
        background: rgba(254, 95, 30, 0.05);
      }
    }
  }
}
